<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
    <insert id="newUser" >
        INSERT INTO User (id,password,name,dob,phone)
        VALUES (#{id},#{password},#{name},#{dob},#{phone})
    </insert>
    <select id="delUser" >
        DELETE FROM User WHERE id = #{id}
    </select>
    <update id="updateUser" parameterType="User">
         UPDATE User SET password = #{password},name = #{name},dob = #{dob},phone =#{phone}
         WHERE id = #{id}
    </update>
    <select id=" queryUserById" parameterType="String" resultType="User">
        SELECT * FROM User WHERE id = #{id}
    </select>
    <select id="listAllUser" resultType="User">
        SELECT * FROM User
    </select>
    <select id="queryUserByName" parameterType="String" resultType="java.util.List">
        SELECT id, password,dob,phone
    FROM name = #{name}
    </select>





</mapper>